.about
{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    background-color: #f1f1f1;
    padding-top: 50px;

}
.about h2
{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.image
{
    width: 100%;
    margin-top: 50px;
    border-radius:20px ;
    position: relative;
    overflow: hidden;
   
}
.image img
{
    width: 100%;
    
}
.btnHover
{
    background-color:rgba(0, 128, 0, 0.727);
    position: absolute;
    top:150%;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image:hover .btnHover
{
    top: 0;
}
.btnHover .fa-circle-plus
{
    font-size: 200px;
    color: #fff;
    cursor: pointer;
}
.content
{
    background-color: #fff;
    border-radius: 10px;
    padding:  20px 50px;
    width: 40%;
    position: absolute;
    z-index: 100;

    top: 15%;
    left: 30%;
    transition: all 0.3s;
    color: #333;
    
}

.content img
{
    width: 70%;
    margin-top: 20px;
   
}
.content .btnClose
{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    color: green;
    cursor: pointer;
}
/* .lineOne
{
    width: 100px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: 43%;
    top:14%;
}
.lineTwo
{
    width: 100px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: 52%;
    top: 14%;
}

.lineOne1
{
    width: 50px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: 39%;
    top:19%;
}
.lineTwo2
{
    width: 50px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: 54%;
    top: 19%;
} */