<div class="about">
    <h2 class="py-3">About</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="ps-5 text-start fw-bold">
                    Lolem, ipsum dolor sit amet consectetur adipisicing elit. Vitae animi ea in doloremque sint sapiente asperiores nostrum nisi dolorum et adipisci esse laudantium, natus consectetur. Minus ipsam quidem aut officia velit consectetur, quos est eveniet, in fugit explicabo dolorem ducimus veritatis voluptate! Numquam officiis eaque nesciunt blanditiis qui, consequatur hic.
                </p>
            </div>
            <div class="col-md-6">
                <p class="ps-5 text-start fw-bold">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae animi ea in doloremque sint sapiente asperiores nostrum nisi dolorum et adipisci esse laudantium, natus consectetur. Minus ipsam quidem aut officia velit consectetur, quos est eveniet, in fugit explicabo dolorem ducimus veritatis voluptate! Numquam officiis eaque nesciunt blanditiis qui, consequatur hic.
                </p>
            </div>
        </div>
    </div>
</div>
